extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li
      a(href="/users/new") 会員登録
    li
      a(href="/sessions/new") ログイン
    li
      form(action="/sessions",method="post")
        input(type="hidden",name="_method",value="delete")
        button ログアウト
  if json
    p= json.login_id
    p= json.email